# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

In [5]:
salaries.shape

(33702, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
print(salaries.isna().sum())
print(salaries.isna().sum() / len(salaries))

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64
Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

In [7]:
###################### COMMENT #########################

#3 Columns have signficant null values

# Typical Hours has 75% null values
# Annual Salary has 24% null values
# Hourly Rate has 75% null values
# Others column doesnt have any null values

# Hourly rate and typical hours have the exact same amount of nulls

#Annual salary: It could be null because there may be many contractual workers working only on hourly workers 
# & may not be permanent employees.

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:
salaries['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

In [9]:
salaries['Salary or Hourly'].value_counts()/len(salaries)
# >75% of employees are under salary, <25% are hourly

Salary    0.757462
Hourly    0.242538
Name: Salary or Hourly, dtype: float64

In [10]:
# Typical hours and Hourly rate is returning null for all Salaried employees (75% of staff)
# Annual Salary is returning null for all hourly employees (about 25% of staff)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [27]:
# Your code here:
# salaries['Department'].value_counts()

salaries.pivot_table(index= ['Department'], aggfunc = {'Name':'count'})

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
# import libraries

import scipy.stats
from scipy.stats import ttest_1samp

In [13]:
# Your code here:

salaries_hourly = salaries[(salaries['Salary or Hourly']=='Hourly')] # segregating the hourly and assigning it to a variable 
salaries_hourly['Hourly Rate'].isna().sum() # to check full NaN values in the dataset

from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(salaries_hourly['Hourly Rate'], 30)


print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)


# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: mean hourly wage ($) = 30
# Alternative hyp or H1: mean hourly wage ($) <> 30

############### COMMENT ######################

# the p-value is below .05, so we reject null hypothesis
# CONCLUSION: the mean hourly wage of all hourly employees is not $30/hour

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
salaries_police = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]
salaries_police['Annual Salary'].isna().sum()

0

In [15]:
stat, pval = ttest_1samp(salaries_police['Annual Salary'], 86000)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

#p-value is less than .05, so we reject null hypothesis
#CONCLUSION: the average salary of the police department salaried employees is not less than or equal to $86,000

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [29]:
# Your code here:

data_crosstab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], margins = False)
data_crosstab

#STREETS & SAN has 1846 hourly workers

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [17]:
# Your code here:

hourly_most = salaries[(salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly')]
hourly_most['Hourly Rate'].isna().sum()

0

In [18]:
stat, pval = ttest_1samp(hourly_most['Hourly Rate'], 35)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [19]:
######################### COMMENT ############################

# pvalue is less than .05, so we have reason to reject the null hypothesis
# The average hourly wage of workers from the street/sanitation department is NOT >= $35/hour

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
# Your code here:
salaries_hourly_conf = salaries_hourly['Hourly Rate']
salaries_hourly_conf

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [21]:
import scipy.stats  #Stastical subpackage of scientific python

confidence_level = 0.95
degrees_freedom = len(salaries_hourly_conf) - 1  # or, for large values of sample size, just use that
    #degrees_freedom is always the sample size minus 1 (length of patients, minus 1)
    #if you have a large sample size, don't bother subracting 1
    
sample_mean = np.mean(salaries_hourly_conf)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)

sample_standard_error = scipy.stats.sem(salaries_hourly_conf) 
# sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [22]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [23]:
# We are 95% confident that the true mean hourly wage for all hourly employees is between $34.29 and $34.87

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
# Your code here:
salaries_police_CI = salaries_police['Annual Salary']
salaries_police_CI.mean() #see the average annual salary is $88,834

88834.11892361111

In [31]:
confidence_level = 0.95
degrees_freedom = len(salaries_police_CI) - 1  # or, for large values of sample size, just use that
    #degrees_freedom is always the sample size minus 1 (length of patients, minus 1)
    #if you have a large sample size, don't bother subracting 1
    
sample_mean = np.mean(salaries_police_CI)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)

sample_standard_error = scipy.stats.sem(salaries_police_CI) 
# sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [32]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [25]:
# Your code here: